@model CRMSystem.Models.Employee
@{
    ViewBag.Title = "Lead Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('/photos/Emp.jpg'); /* Adjust the path as needed */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        /*background: rgba(255, 255, 255, 0.8);*/ /* Light overlay for readability */
        padding: 20px;
        border-radius: 10px;
    }
</style>

<h2>Lead Details</h2>

<div>
    <h4>Lead</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.LeadID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeadID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowUpDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowUpDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("Back to List", "Leadindex")
</p>
